cachetools
chardet
docopt
eyeD3
ffmpeg-normalize
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
httplib2
idna
oauth2client
oauthlib
pathlib
pip
pyasn1
pyasn1-modules
pycparser
python-libmagic
python-magic
requests
requests-oauthlib
rsa
setuptools
six
spotipy
uritemplate
urllib3
youtube-dl
